.customBtn {
  font-size: 1.3rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

.primaryBtn {
  background-color: $yellowColor;
  color: white;
}

.primaryBtn:hover {
  filter: grayscale(1);
}
.sBtn {
  background-color: rgb(128, 49, 49);
  color: white;
}
.sBtn:hover {
  filter: grayscale(1);
}
.linkBtn {
  border-radius: 0;
  background-color: transparent;
  border-bottom: 0.1rem solid black;
  padding: 0;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  span {
    display: inline-block;
    font-size: 2.5rem;
    margin-left: 1rem;
  }
  &:hover {
    opacity: 0.4;
    transform: skew(-3deg);
  }
}

@media screen and (min-width: 1024px) {
  .linkBtn {
    font-size: 3rem;
  }
}
