.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $greyColor;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 84px;
  height: 84px;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: $orangeColor;
  transform: translate(-50%, -100%) scale(0);
  animation: push 1s infinite linear;
}
.loader:after {
  animation-delay: 0.6s;
}
@keyframes push {
  0%,
  50% {
    transform: translate(-50%, 0%) scale(1);
  }
  100% {
    transform: translate(-50%, -100%) scale(0);
  }
}
